<mat-card class="example-card">
  <mat-card-header>
    <img
      mat-card-avatar
      class="avatar-img"
      src="./../assets/images/characters/Horror.png"
    />
    <mat-card-title class="header-title">Horror</mat-card-title>
    <mat-card-subtitle class="header-subtitle">Type</mat-card-subtitle>

    <img
      class="crown-img"
      src="./../assets/images/mutations/Back_Muscle.webp"
    />
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <div class="container">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm card-column">
            <p class="card-text">Desert 1-3 Loop: 0</p>
            <img
              src="./../assets/images/areas/Desert.webp"
              class="area-image"
            />
          </div>

          <div class="col-sm card-column">
            <p class="card-text">Killed by</p>
            <img
              class="killedBy-image"
              src="./../assets/images/enemies/Big Bandit.gif"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-sm card-column">
            <p class="card-text">Weapon A</p>
            <img
              src="./../assets/images/weapons/Assault Rifle.png"
              class="weapon-image"
            />
          </div>

          <div class="col-sm card-column">
            <p class="card-text">Weapon B</p>
            <img
              src="./../assets/images/weapons/Auto Crossbow.png"
              class="weapon-image"
            />
          </div>
        </div>

        <p class="card-text" id="MutationsLabel">Mutations:</p>
        <div class="row mutations-row">
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
          <img
            class="mutations-image"
            src="./../assets/images/mutations/Back_Muscle.webp"
          />
        </div>
        <div class="ultra-div">
          <img
            class="ultra-img"
            src="./../assets/images/mutations/ultra/Horror_B.webp"
            title="HEYEHAHDA"
          />
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-footer>
    <mat-card-subtitle class="footer-subtitle">Yesterday</mat-card-subtitle>
  </mat-card-footer>
</mat-card>
