.example-card {
  width: 380px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.avatar-img {
  margin-left: 20px;
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 0%;
}

mat-card-header {
  margin-bottom: 10px;
}

mat-card-content {
  margin-top: 10px;
}

.mutations-image {
  width: 30px;
  height: 30px;
}

.footer-subtitle {
  text-align: center;
}

mat-card-footer {
  margin-top: 10px;
}

.header-title {
  margin-top: 10px;
  margin-left: 57px;
}

.header-subtitle {
  margin-left: 65px;
}

mat-card-title {
  margin-left: auto;
  margin-right: auto;
}

.killedBy-image {
  width: 60%;
  height: 60%;
}

.area-image {
  width: 80px;
  height: 80px;
}

.weapon-image {
  width: 40%;
  height: 40%;
}

.card-column {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.ultra-div {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.ultra-img {
  width: 50px;
  height: 50px;
}

.mutations-row {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  margin-bottom: 2px;
  margin-top: 10px;
}

#MutationsLabel {
  margin-left: 40px;
}

.crown-img {
  height: 50px;
  width: 50px;
  margin-top: 7px;
  margin-left: 60px;
}
