<div class="forms-div">
  <form #userId="ngForm" (ngSubmit)="getUserRunsHistory(userId.value)">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input
          type="text"
          name="SteamId"
          placeholder="Enter Steam ID"
          class="form-control"
          ngModel
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <small class="form-text text-muted">Example: 76561198087280179</small>
  </form>
  <form
    #userStreamKey="ngForm"
    (ngSubmit)="updateStreamKey(userStreamKey.value)"
  >
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input
          type="text"
          name="StreamKey"
          placeholder="Enter Stream Key"
          class="form-control"
          ngModel
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <small class="form-text text-muted"
      >You can find it in Nuclear Throne options</small
    >
  </form>
  <div class="new-run">
    <button class="btn btn-primary" (click)="addRunToUser()">
      Add New Run
    </button>
  </div>
</div>

<h2 class="runs-title">History</h2>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<form #steamID="ngForm" (ngSubmit)="getUserRunsHistory(steamID.value)" class="center-form">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input
        type="text"
        name="SteamId"
        placeholder="Enter Steam ID"
        class="form-control"
        ngModel
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
  <small class="form-text text-muted">Example: 76561198087280179</small>
</form>

<div class="cards-div">
  <app-cards-group [runs]="userRunsHistory"></app-cards-group>
</div>
