.text-muted {
  text-indent: 10px;
}

form {
  margin: 5px;
  margin-bottom: 20px;
}

.new-run {
  margin-top: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.forms-div {
  border: 1px solid gray;
  width: fit-content;
  margin-left: 27%;
  margin-right: 30px;
}

.myRow {
  margin-bottom: 15px;
}

.auto-checkbox {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 16px;
}

.acc-info {
  width: fit-content;
  height: fit-content;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  border: 1px solid gray;
  font-size: 16px;
  margin-left: 30px;
}



/* Card Group CSS */

.cards-div {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 1200px;
  place-content: center;
  align-items: center;
  border: 1px solid slateblue;
}

.runs-title {
  text-align: center;
  font-size: calc(19.2px + 13.9776 * (100vw - 320px) / 1600);
  font-weight: 500;
  font-family: Rubik, sans-serif;
  width: 100%;
  max-width: none;
  float: none;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 32px;
  padding-right: 32px;
}

.divider
{
	position: relative;
	margin-top: 5px;
  margin-bottom: 30px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
  margin-left: auto;
  margin-right: auto;
	top: 0;
	left: 5%;
	right: 5%;
	width: 50%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: #f2f2f2;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.center-form {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}